:root {
    --nav-background: hsl(214.521, 50%, 28%);
    --nav-color: hsl(0, 3%, 7%);
    --heading-hover-color: hsl(189, 19%, 68%);
    --card-background:hsl(189, 16%, 47%);
    --caed-color: hsl(300, 71%, 28%)
}

html{
    font-size: 62.5%;
}

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

h1, h2, h3, p, a{
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--nav-background);

    padding:1.5rem 10rem;

    text-shadow:2rem 2rem 10rem hsl(0, 0%, 13%) ;
}
header nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    color: var(--nav-color);
    font-size: 2rem;
}

header h1 {
    font-size: 4rem;
}

header h1:hover {
    color: var(--heading-hover-color);
}

main{
    display: flex;
    flex-direction: column;
    gap: 4rem;

    padding: 2rem;

    background-color: hsl(27, 29%, 87%);
}

main .article{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

main .article hr{
    color: hsl(219, 41%, 18%);
    line-height: 30rem
}

main .article div{
    display: flex;
    gap: 2rem;
}

main .article article{
    padding: 1.2rem;

    background-color: hsl(220, 0%, 100%);

    border-radius: 0.8rem;

    font-size: 2rem;

    box-shadow: 0 0 1rem hsla(219, 16%, 12%, 0.1%);
}

.card-gallery {
        display: grid;
        place-items: center;

        background-color: var(--card-background);

        block-size: 100vh;
}

.first-card-gallery {
        display: flex;
        gap: 1rem;

        max-inline-size: 90rem;
}

.card-style {
        position: relative;
        inset-inline-start: 0;
        border-radius: 1.2rem;
        block-size: 60vh;
        overflow: hidden;
        transition: 0.4s ease-in-out;
        box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
        flex: 0.25;
}

.card-style img {
        object-fit: cover;
        inline-size: 100%;
        block-size: 100%;
}

.card-style:hover {
        flex: 2;
        font-weight: bold;
        cursor: pointer;
        border-radius: 1rem;
}

.card-style:nth-child(1) img {
        left: -10rem;
}

.card-style:nth-child(2) img {
        left: -6rem;
}

.card-style:nth-child(3) img {
        left: -14rem;
}

.card-style:nth-child(4) img {
        left: -8rem;
}

footer {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 1em;
        bottom: 0;
        width: 100%;
}

.professional-footer {
        background-color: #1b2841;
        color: #fff;
        padding: 20px 0;
}

.footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1200px;
}

.footer-section {
        width: 300px;
}


.footer-section h3 {
        color: hsl(268, 48%, 62%);

}

.footer-section p {
        color: hsl(0, 0%, 87%);

}

.footer-bottom {
        background-color: hsl(0, 0%, 13%);
        padding: 10rem 0;
        text-align: center;
}