body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100vh;
}

nav {
    background-color:#24436d;
    color: #131212;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

header {
    background-image: url(mo.jpg);
    color: #fff;
    text-align: center;
    padding: 1em;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 250px 0;
    text-shadow: 2px 2px 10px #222;
}

.pheader {
    font-size: 64px;
    box-shadow: #131212;
    font-family: 'Times New Roman', Times, serif;
    
}

.pheader:hover{
    color: brown;
}

main {
    padding: 20px;
    background-color: antiquewhite;
}

.khat{
    color: #1b2841;
    line-height: 30;
}

.marticle {
    font-size: 40px;
    direction: rtl;
    padding: 20px;
    margin: 20px auto;
}

.article-box {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    direction: rtl;
}

:root {
    --background: #f8f8ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body1 {
    background-color: var(--background);
    display: grid;
    place-items: center;
    height: 100vh;
}

.gallery001 {
    display: flex;
    gap: 1rem;
    max-width: 80rem;
    display: flex;
}

.card01{
    position: relative;
    left: 0px;
    width: 6rem;
    border-radius: 1.2rem;
    height: 20rem;
    overflow: hidden;
    background-color: var(--background);
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
    flex: 0.25;
}

.card01 img{
    position: relative;
    height: 20rem;
    object-fit: cover;
   inline-size: 100%;
    block-size: 100%;
}

.card01:hover{
    flex: 2;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
}

.card01:nth-child(1) img {
    left: -8rem;
}

.card01:nth-child(2) img {
    left: -6rem;
}

.card01:nth-child(3) img {
    left: -14rem;
}

.card01:nth-child(4) img {
    left: -8rem;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;
}
.professional-footer {
    background-color: #1b2841;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    width: 300px;
    margin-bottom: 20px;
}

.footer-section h3 {
    color: #9a6fcc;
}

.footer-section p {
    color: #ddd;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
}